body {
    font-family: MS PGothic, sans-serif;
}
@keyframes animatedBackground {
    from {
        background-position: 0 0;
    }

    /*use negative width if you want it to flow right to left else and positive for left to right*/
    to {
        background-position: 10000px 0px;
    }

}

@font-face {
    font-family: "porkys";
    src: url(https://file.garden/Zkk-azEbhyHsv9a-/porkys.ttf);

}

.bg {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background: url("https://file.garden/Zkk-azEbhyHsv9a-/x13-bg-checked.gif") 0px 0px;
    background-repeat: repeat;
    background-position: 0 0;
    background-size: auto 30px;
    background-attachment: fixed;
    animation: animatedBackground 1200s linear infinite;
}

p {
    margin: 0;
}

p+p {
    margin-top: 10px;
}

body {
    background: white;
    font-size: 14px;
    color: rgb(124, 124, 124);
}

.row {
    display: flex;
    gap: 8px;
}

.box {
    width: 800px;
    position: relative;
    padding: 0px;
    margin: 60px auto;
    border-radius: 0px;

    border: 20px solid transparent;
    padding: 15px;
    border-image: url(https://file.garden/Zkk-azEbhyHsv9a-/lace%20border%20dalace%20svg.svg) 100 round;

    border-image-outset:
        20px;
    background: white;

    filter: drop-shadow(5px 5px 8px rgba(0, 0, 0, 0.349));
}

#cloverpatch {
    background: url(https://file.garden/Zkk-azEbhyHsv9a-/cloverpatch.gif);
    background-repeat: no-repeat;
    height: 50px;
    width: 110px;
    position: absolute;
    bottom: -35px;
    right: -40px;
    z-index: 100;
}

.paperclip {
    background: url(https://foollovers.com/mat/t-frame/frame20-a/icon01.png) no-repeat;
    height: 62px;
    position: absolute;
    right: 10px;
    top: -9px;
    transform: rotate(15deg);
    width: 27px;
    z-index: 100;
}

.square {
    background: white;
    background-image: url(https://file.garden/Zkk-azEbhyHsv9a-/sunflower%20hearts%20pale%20bg.gif);
    background-size: 130px;
    background-position: center;
    border: 1px dotted lightgray;
    box-shadow: 1px 1px 4px inset rgba(0, 0, 0, 0.205);
    padding: 10px;
    flex-grow: 1;

    position: relative;

}

.square+.square {
    margin-top: 10px;
}

.title {
    font-family: porkys, 'Times New Roman', Times, serif;
    font-size: 50px;
    margin: 10px auto;

    text-align: center;

    color: rgb(255, 186, 213);


    background: rgb(118, 164, 232);
    background: radial-gradient(rgb(212, 253, 164) 10%, rgba(97, 205, 97, 0) 85%);
}

.title>p {
    filter: drop-shadow(0px 0px 1px black) drop-shadow(0 0 1px white) drop-shadow(0 0 1px white) drop-shadow(0 0 1px white) drop-shadow(0 0 1px white) drop-shadow(0 0 1px white) drop-shadow(0 0 1px white) drop-shadow(0 0 1px white) drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.288));
}

.subtitle {
    background: rgb(199, 232, 118);
    background: radial-gradient(circle, rgb(205, 240, 141) 0%, rgb(158, 223, 145) 100%);
    padding: 0px;
    border: 2px rgb(197, 236, 146) outset;
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.226);

    font-family: 'Times New Roman', Times, serif;
    color: white;
    text-align: center;
    font-weight: bold;
    font-size: 18px;
    text-shadow: 2px 1px 1px rgb(106, 160, 62);

    margin-bottom: 10px;
}

#pfp {
    background: url(https://file.garden/Zkk-azEbhyHsv9a-/nerdkawa%20in%20heartlace.png);
    height: 143px;
    width: 100%;
    background-repeat: no-repeat;

    transform: scale(1.3) rotate(-5deg);
    filter: drop-shadow(0 0 2px rgba(0, 0, 0, 0.582));
    background-size: contain;
    margin: 30px auto;
}

#nameprofile {
    font-size: 30px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    text-align: center;
    background: linear-gradient(rgb(203, 255, 134) 43%, rgb(123, 216, 81) 100%);
    border-radius: 30px;

    color: rgb(255, 142, 161);
    text-shadow: 1px 1px white, -1px -1px white, -1px 1px white, 1px -1px white, 2px 2px 5px black;

    margin-top: 30px;

    box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.445);
}

#smallprofilebox {
    background: white;
    margin: 8px auto;
    border-radius: 5px;
    border: 1px dashed pink;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.445);
    padding: 10px;

    text-align: center;
}

#bodytext {
    background: rgba(255, 255, 255, 0.5);
    margin: 20px;
    box-shadow: 0 0 5px 10px rgba(255, 255, 255, 0.5);
    border: 5px double pink;
    padding: 30px;
    border-radius: 10px;
}

#chiichain {
    position: fixed;
    top: 0px;
    left: px;
    background: url(https://file.garden/Zkk-azEbhyHsv9a-/magical%20girl%20chiikawa.png);
    background-size: contain;
    background-repeat: no-repeat;
    width: 150px;
    height: 250px;

    transform-origin: top center;
    animation: 3s swing infinite;

    filter: drop-shadow(2px 2px 3px rgba(0, 0, 0, 0.479));
}

@keyframes swing {

    0%,
    100% {
        transform-origin: top center;
        transform: rotate(15deg);
    }

    50% {
        transform-origin: top center;
        transform: rotate(-15deg);
    }
}

#basketdoggy {
    background: url(https://file.garden/Zkk-azEbhyHsv9a-/basketpuppy.png);
    background-repeat: no-repeat;
    background-size: contain;
    height: 130px;
    width: 100px;
    position: absolute;
    bottom: -15px;
    left: -10px;
    transition: 0.7s;
}

#basketdoggy:hover {
    opacity: 0;
}

#home {
    text-align: right;
    padding: 2px;
    margin-top: 10px;
    border-radius: 10px;
    background: linear-gradient(to right, lightgreen 0%, rgb(252, 255, 224) 50%);
}

#home>a {
    color: rgb(106, 160, 62);
    font-weight: bold;
}



#home>a:hover {
    color: darkgray;
    font-style: italic;
}

.literallyme {
    height: 100px;
    border: 1px dashed rgb(173, 173, 173);
    width: 100px;
    display: inline-block;
    position: relative;
    background: gray;
    background-size: cover;
}

.literallyme>.name {
    width: 100px;
    position: absolute;
    bottom: 0;
    color: white;
    text-shadow: 1px 1px black, -1px -1px black, -1px 1px black, 1px -1px black, 0 0 3px black;
    font-weight: bold;
}

.horizontal {
    width: 100%;
    white-space: nowrap;
    overflow-x: auto;
    padding: .5em;
    box-sizing: border-box;
    height: 126px;
    overflow-y: hidden;
}

.layout {
    width: 650px;
    height: 100%;

    display: grid;
    grid:
        "profile body body" 50% "spotify boxofme favs" 1fr "spotify jokebear favs" 1fr / 200px 300px 300px;

    gap: 8px;
}

.profile {
    grid-area: profile;
}

.body {
    grid-area: body;
}

.spotify {
    grid-area: spotify;
}

.boxofme {
    grid-area: boxofme;
}

.favs {
    grid-area: favs;
}

.jokebear {
    grid-area: jokebear;
}

.head1 {
    font-family: porkys, Arial, Helvetica, sans-serif;
    font-size: 24px;
    text-align: center;
    color: white;
    text-shadow: 1px 1px rgb(255, 142, 161), -1px 1px rgb(255, 142, 161), 1px -1px rgb(255, 142, 161), -1px -1px rgb(255, 142, 161), 0 0 4px rgba(0, 0, 0, 0.609);
}

.section {
    border-width: 7px;
    border-style: solid;
    border-image: url("https://file.garden/Zkk-azEbhyHsv9a-/pink%20lace%20border.png") 11 fill round;
    height: auto;
    border-radius: 10px;
}

mark {
    font-family: 'Times New Roman', Times, serif;
    background: radial-gradient(pink, transparent);
    font-weight: bold;
    color: white;
    padding: 3px;
    text-shadow: 1px 1px gray, -1px -1px gray, -1px 1px gray, 1px -1px gray, 0 0 3px gray;
}

#pinkbow {
    position: absolute;
    background: url(https://file.garden/Zkk-azEbhyHsv9a-/pink%20double%20bow.png);
    height: 490px;
    width: 400px;
    top: -120px;
    right: -100px;
    transform: rotate(30deg);
    z-index: 0;
    background-repeat: no-repeat;
    background-size: contain;
    filter: drop-shadow(2px 2px 3px rgba(0, 0, 0, 0.523));
}