.kao-happihappi {
    content: url(https://files.catbox.moe/jlh30b.gif);
    display: inline;
}

.kao-yoyo {
    content: url(https://files.catbox.moe/tbq20p.gif);
    display: inline;
}

.kao-memo {
    content: url(https://files.catbox.moe/j2g5si.gif);
    display: inline;
}

.kao-cry {
    content: url(https://files.catbox.moe/qz3h49.gif);
    display: inline;
}

.kao-wipetears {
    content: url(https://files.catbox.moe/qmwj3d.gif);
    display: inline;
}

.kao-wink {
    content: url(https://files.catbox.moe/4t79o1.gif);
    display: inline;
}

.kao-yay {
    content: url(https://files.catbox.moe/a78k9z.gif);
    display: inline;
}